body {
      font-family: 'Roboto', sans-serif;
  }

  .dropdown-menu {
      display: none;
      position: absolute;
      right: 0;
      z-index: 10;
  }

  .dropdown-menu.active {
      display: block;
  }

  .hero-bg {

      position: relative;
      overflow: hidden;
  }

  .hero-bg:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      animation: fadeAndChange;
      animation: fadeAndChange 10s infinite;
      background-size: 35%;
  }


  .hero-content {
      position: relative;
      z-index: 10;
  }

  .navbar-sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 50;
      transition: background-color 0.3s, box-shadow 0.3s;
  }

  .navbar-scrolled {
      background-color: white !important;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .full-height {
      height: 100vh;
  }


  .fadeOut {
      opacity: 0;
  }

  .carousel {
    width: 100%;
}

.carousel-inner {
    transition: transform 0.5s ease;
}

.carousel-card {
    flex: 1 0 auto;
    margin-right: 1rem;
}