.toast {
      transition:
            transform 0.5s ease-in-out,
            opacity 0.5s ease-in-out;
      display: flex;
      align-items: center;
      position: relative;
      gap: 0.5rem;
      z-index: 500;
}

.toast::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: rgb(255, 255, 255);
      z-index: 1;
}

.toast-hidden {
      transform: translateX(100%);
      opacity: 0;
}

.toast-bar {
      height: 4px;
      width: 0%;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: width 5s linear;
}

.toast-close {
      cursor: pointer;
}